<p style="color: green"><%= notice %></p>

<%= render @sale %>

<div>
  <%= link_to "Edit this sale", edit_admin_sale_path(@sale) %> |
  <%= link_to "Back to sales", admin_sales_path %>

  <%= button_to "Destroy this sale", @sale, method: :delete %>
</div>
