<p style="color: green"><%= notice %></p>

<%= render @used_disk %>

<div>
  <%= link_to "Edit this used disk", edit_used_disk_path(@used_disk) %> |
  <%= link_to "Back to used disks", used_disks_path %>

  <%= button_to "Destroy this used disk", @used_disk, method: :delete %>
</div>
